<h1>Welcome to Pokedex</h1>
<main class="main">
    <button type="button" class="btn btn-info"(click)="onClickTrainer()">Trainer page</button>
    <button type="button" class="btn btn-primary"(click)="onClickLogout()">Logout</button>
    <div class="pokemon-list" >
        <ul>
            <li *ngFor="let pokemon of pokemons.results">
                <div class="row-sm-5">
                <!--BAD PRACTICE!! <:(, find other solution later-->
                <img src= "{{pokeImage}}{{pokemon.url.split('pokemon/').pop().split('/')[0]}}.png" width="150" height="100" /> <!--FIX: add styling, shouldn't mess with pxels-->
                </div>
                <b>{{pokemon.name}}</b>
                <button type="button" class="btn btn-success" (click)="onCatchPokemon(pokemon.name)">Catch</button>
            </li>
        </ul>
    </div>
</main>
