<main class="main">
    <div>
        <h1> Trainer </h1>
        <h2> Welcome, {{getUsername()}}</h2>
        <button type="button" class="btn btn-primary"(click)="onClickLogout()">Logout</button>
        <button type="button" class="btn btn-info"(click)="onClickPokedex()">Pokedex</button>
    </div>
    <div class="pokemonList">
        <li *ngFor="let pokemon of getUserPokemonList()">
            <b>{{pokemon}}</b>
            <button type="button" class="btn btn-danger"(click)="onReleasePokemon(pokemon)">Release</button>
        </li>
    </div>
</main>
